[2019-08-09 18:36] graysonhicks opened #3 "App uses localStorage for storing tokens"
Using `localStorage` for storing auth0 tokens is not considered best practice [per their docs](https://auth0.com/docs/security/store-tokens#don-t-store-tokens-in-local-storage).  Instead, they recommend using the [checkSession](https://auth0.com/docs/libraries/auth0js/v9#using-checksession-to-acquire-new-tokens) method if no back-end is available.

[2019-08-09 19:21] jimthedev opened #4 "Question: Support for PKCE flow?"
Hi there. Does this support the pkce flow / Chrome extension flow?

[2019-08-10 05:55] Swizec commented on #3
This is now fixed. Thanks for the heads up @graysonhicks

[2019-08-10 05:55] #3 closed

[2019-08-10 06:00] Swizec commented on #4
Not yet but I'm going to look into it. Or I can accept a nice PR :)

[2019-08-10 18:59] NotMyself commented on #4
Hey @Swizec, I see you are using Auth0.js. Check out the new [SPA SDK](https://auth0.com/docs/libraries/auth0-spa-js). It has PKCE flow built-in. Might be able to migrate over to it and get this feature for free!

Nice work on your lib by the way. Very cool.

[2019-08-11 11:48] galileomd opened #6 "vanilla example?"
any chance youd have a simple example without the gatsby stuff?

[2019-08-13 07:09] dejanstrancar commented on #6
Ive added PR for using with create-react-app https://github.com/Swizec/useAuth/pull/8

[2019-08-13 18:57] chenxeed opened #9 "How to set the AuthProvider to the root component in the nextJS application?"
Hi @Swizec , first of all, thank you for the library!

May I ask if it's compatible to be used in Next application as well?

I was stuck on how to set up the Auth Provider in the Next environment as you suggested above. Thanks!

[2019-08-14 15:00] HaNdTriX opened #10 "Re-render issues"
Please note that the following code will cause a re-render of your entire subtree.

https://github.com/Swizec/useAuth/blob/ef4a9d46d1045565414a7f9143371be6b222f8b5/src/AuthProvider.js#L53-L59

https://reactjs.org/docs/context.html#caveats

## Possible solutions to this problem

1. Use a class component and lift your context into `this.state`
2. Use `React.useMemo()`

[2019-08-14 15:12] jackfranklin opened #11 "Access token of logged in user"
I'm using Auth0 to allow users to login via GitHub.

I now need to get at the OAuth token from GitHub so I can make authorised requests to the GitHub API. I think maybe `useAuth` could expose this token too, if it can? (I'm not super familiar with auth0 so sorry if I'm heading down the wrong path here).

This library made auth so much easier so thank you for that!

[2019-08-14 20:13] bluematter commented on #11
@jackfranklin Just in time. I also need to obtain the id_token to add into the headers of my requests to graphcool.

Would be nice to document this and expose the token.

I wonder if the cookie that was stored and parsed into a token? Ill look into that.

[2019-08-15 00:35] NWRichmond commented on #11
@jackfranklin @bluematter
I haven't tried it, but you might be able to accomplish that by creating an [Auth0 Rules function](https://auth0.com/video-tutorials/advanced-usage-of-auth0/using-rules). The video in the link explains how to implement custom logic such that, "...you could easily change this to query one of your databases **or make an API call to an external server** as needed."

[2019-08-16 22:54] puregarlic commented on #9
@chenxeed Not sure if you figured out how to do this yet, but I ended up putting the `AuthProvider` component in `_app.js`, which is working well for me so far.

[2019-08-18 04:11] chenxeed commented on #9
Hi @puregarlic , yes thanks! I've figured out my error.

If I try to access the context directly on the same component that has the `AuthProvider` like this:

(doesn't work)
[code]

But if I wrap it as a child component, then it works:

[code]

[2019-08-18 04:11] #9 closed

[2019-08-18 05:17] chenxeed opened #13 "If `useAuth` is a singleton, how to unit test the component that uses it properly?"
Hi,

my question might be specific to the general way of testing Context API in React that acts as a singleton.

I believe it's a great help to showcase how is this `useAuth` library is going to be tested since it's (seems like) a singleton. Thanks!

[2019-08-18 06:34] Swizec commented on #9
@all-contributors add @puregarlic for question

[2019-08-18 06:36] Swizec commented on #9
By the way @chenxeed the reason your original approach didn't work is because React context is only defined in the children of the provider. The component where you render `AuthProvider` (or any context provider) doesn't have access to that same context.

Something like this would have worked:

[code]

[2019-08-18 07:18] #6 closed

[2019-08-18 07:19] Swizec commented on #10
Ah yes forgot about that. Should be an easy fix. Thanks for flagging!

[2019-08-18 07:20] Swizec commented on #10
@all-contributors add @HaNdTriX for bug

[2019-08-18 14:57] omonk opened #21 "Persist login status on refresh"
Love this module, so easy to integrate and work with, just wondering one thing:

From what I can tell this should persist the user being logged in between refreshes or am I being slow? It's logging out user between refreshes, localStorage values still present...

[2019-08-18 16:14] keepforever opened #22 "README.md Guidance on Use Case: Save User To Server After Registration"
I was wondering if @Swizec, or anyone could offer any guidance as to how to persist a newly registered user on my server after "signup" via `Auth0`?

Before integrating `useAuth`, I had a login form that would collect, `name`, `email`, `password`, `aboutMe`, etc, then, hit my GraphQL server, create a user entry in my `User` table, and return a `JWT` for use in subsequent requests for editing prope

[2019-08-18 19:03] puregarlic commented on #11
@bluematter @jackfranklin I've made some changes to a local version of `useAuth` that exposes both `id_token` and `access_token`; I'll get a PR up soon for discussion.

[2019-08-18 23:42] puregarlic commented on #22
@keepforever I think you're right, I don't think there's a direct way to perform this workflow with `useAuth` as it stands today. This is what I would do:

1. Have the user sign up using `useAuth`.
2. After signup, redirect them to a page where they complete their signup (write their `aboutMe` and enter any other user information you need that you can't just get from `useAuth`).
3. Send the user i

[2019-08-19 00:53] multicam commented on #21
same here :)

[2019-08-19 02:30] omonk commented on #21
Seems like something isn't working on the auth0 side, the module returns an error. Need to do some more investigation

[2019-08-19 15:06] omonk commented on #21
Seems like we're not the only ones dealing with this issue:

- On community chat [here](https://community.auth0.com/t/checksession-always-return-login-required-on-localhost/22119/19) - a huge thread about persisting login
- On a walkthrough [here](https://auth0.com/blog/react-tutorial-building-and-securing-your-first-app/), if you search the page for `Keeping Users Signed In after a Refresh` it'll

[2019-08-19 15:32] omonk commented on #21
Tadaaaa it works 💃

Will open a PR to update README to give some brief details around the steps required!

[2019-08-20 05:43] Swizec commented on #22
Great question @keepforever. The basic idea behind Auth0 and other auth providers like it, is that your server doesn't actually have user models. You're meant to leave that completely to the auth service.

However, you do sometimes need to authenticate users on the backend and do things in their name. Auth0 provides functionality to do that. I've used this guide in the past: https://auth0.com/docs

[2019-08-20 06:01] Swizec commented on #11
@jackfranklin @NWRichmond @puregarlic @bluematter just published version 0.4.0, which exposes the full `authResult` object which contains your accessToken and idToken ✌️

https://github.com/Swizec/useAuth#users-access-tokens

[2019-08-20 06:01] #11 closed

[2019-08-20 06:02] Swizec commented on #22
@keepforever @puregarlic just published version 0.4.0, which exposes the full `authResult` object which contains your accessToken and idToken ✌️

https://github.com/Swizec/useAuth#users-access-tokens

[2019-08-20 06:02] #22 closed

[2019-08-20 06:02] Swizec commented on #21
Thanks so much for your help and research @omonk

[2019-08-20 06:02] #21 closed

[2019-08-20 06:05] Swizec commented on #13
This is a great question @chenxeed. `useAuth` might look like a singleton, but it sort of isn't.

Every time you render an `AuthProvider`, we create everything from scratch internally. Auth0 client is instantiated, state object is set up, etc. From that point onward, all children components share that same state and Auth0 client via context.

So if you wanted to test this, my recommendation is to

[2019-08-20 06:06] Swizec commented on #10
@all-contributors add @HaNdTriX for bug

[2019-08-20 06:28] Swizec commented on #10
Thanks for your bug report @HaNdTriX the issue has been resolved in v0.4.1. Just published :)

[2019-08-20 06:28] #10 closed

[2019-08-28 14:07] qruzz opened #27 "Question: TypeScript Typings"
I watched the part of the video on you open sourcing this and you mentioned relying on the community to supply typescript typings.

I would be more than happy to help out with this, although there are some different ways we could go about it:
- Do we re-write `react-use-auth` in typescript, or just provide the typings as separate `*.d.ts` files?
  - This is ultimately a @Swizec question as this is

[2019-09-18 12:34] b2times4 opened #33 "Regular js react app asking for typescript declarations"
Bear with me as I just got started with React.
Installed module through yarn

```yarn add react-use-auth ```

Immediately when I slap

``` import { useAuth } from "react-use-auth"; ```

 in my index.js file I get a little warning on that line stating:

[code]

Unsure why it is asking for typescript declarations - I thought I was doing everything in plain JS.
I thought that this was just a warning

[2019-09-20 16:23] williamluke4 commented on #27
An example using [tsdx](https://github.com/palmerhq/tsdx#readme)
https://github.com/atto-byte/useAuth
I can make a PR, if everyone is fine with switching to TSDX

[2019-09-23 03:19] sophister opened #34 "Potential read obsolete state contextValue"
Hi, according to my understanding, `useEffect` should have **all** the variables listed in its `dependency list`, but it seems this line of code https://github.com/Swizec/useAuth/blob/master/src/AuthProvider.js#L53 does **not** include `contextValue` in the dependency list.

The current code:

[code]

Maybe it's better this way?

[code]

This allows us not to include `contextValue` into the depend

[2019-09-23 05:20] Swizec commented on #27
This looks amazing! I would love a PR so I can take a closer look.

Also I'm a little confused by the UX here. I see this in an email chain that started 1 month ago, but can't find the discussion on the github repo ... so I hope my reply gets to you and the PR shows up.

Been thinking of taking on the schlep to convert the whole library to TypeScript but haven't found the time. So this is really p

[2019-09-24 07:42] qruzz commented on #27
GitHub is wonderful sometimes !
Well, as I suggested in the issue when I opened @Swizec , there were a few different ways we could go about providing TypeScript types.

I would be willing to make a PR where the whole thing is converted to TypeScript if that is the way you want to go with it. I just didn't want to do that, if you'd rather have types in DefinitlyTyped

[2019-09-25 06:26] williamluke4 commented on #27
I think having It writing in typescript is a much better option, as it flagged some issue when I was doing the conversion. I will make a PR this weekend as I need to revert some additional changes that I made to the ReadMe and add the examples back in.

[2019-10-01 08:21] williamluke4 commented on #27
Hey guys, I'm pretty swamped at the moment. @qruzz Feel free to grab the types from my package and submit them to DefinitlyTyped if you want.

[2019-10-01 12:40] qruzz commented on #27
I'll see if I can find some time tonight to take a look at it -

[2019-10-09 13:46] stanxii opened #36 "Would you add a next.js example for useAuth?"
Thans a lot, I want a feature to use useAuth with next.js, But I am new for it. Would you out a next.js example for useAuth? thanks a lot. I will test it.

[2019-10-10 21:36] duncanleung commented on #36
@stanxii Check out the open PR #35 (Nextjs example for react-use-auth).

You might get some ideas from it.

[2019-10-12 05:48] Swizec commented on #36
Great suggestion @stanxii. Looks like @smehdii already took it on. Small bug right now but the basics seem to work.

Gonna merge and make official as soon as I can :)

[2019-10-12 05:48] #36 closed

[2019-10-12 05:51] Swizec commented on #34
You are right. Thanks for pointing that out, have made that mistake in many projects :)

[2019-10-12 05:51] #34 closed

[2019-10-12 05:51] Swizec commented on #34
@all-contributors add @sophister for bugs

[2019-10-14 01:31] Swizec commented on #27
Thanks for the push fellas, useAuth is now in TypeScript ✌️

[2019-10-14 01:31] #27 closed

[2019-10-19 09:54] FrikanRw commented on #4
@Swizec Could I take a crack at this PR for you?

[2019-11-04 21:39] MontoyaAndres opened #43 "Does it support react native?"
`useAuth` works pretty great for web, but what about React Native or Ionic? Is there any plan to add the support? 😁

[2019-11-10 22:07] Swizec commented on #43
Hey @MontoyaAndres I haven't used react-native in a while so I'm not sure. Would be cool if someone attempts an example and then we can figure out what needs fixing :)

The sticking points would likely be around redirecting to Auth0 and back. RIght now it assumes URL access to the callback page so that might break if there's no page.

That said, I thing Auth0 itself does support react native 🤔

[2019-11-10 22:16] Swizec commented on #33
Hey @b2times4 thannks for reporting this, looks like it's been resolved at some point since September 18th. Current version 0.5.1 doesn't show any type errors in a basic CRA app.

You can look at how it's done in the examples directory. I didn't change anything except the version number :)

[2019-11-10 22:16] Swizec commented on #33
@all-contributors add @b2times4 for issues

[2019-11-10 22:16] #33 closed

[2019-11-11 00:05] MontoyaAndres commented on #43
I've been searching info about it and maybe `useAuth` does not work with react native, because the package `auth0-js` just work for web, for React Native is this one https://github.com/auth0/react-native-auth0 Maybe creating an alternative based on this package would be great :)

[2019-11-16 19:40] mattmazzola opened #49 "Clarify user info storage in README"
I thought there was some confusing wording in the readme about using cookies and localstorage.

https://github.com/Swizec/useAuth/blame/master/README.md#L126

1. I didn't think it was possible to store a "cookie in localstorage". You either store info in a cookie or store info in local storage but not a cookie in local storage.

2. It says "user information". If this is non-secret stuff from the I

[2019-11-19 20:05] Swizec opened #50 "Request for help: Kickass site for useAuth.dev"
👋

useAuth is doing great as an opensource project, we're at 1.1k stars 😍
So I recently bought useAuth.dev and put the gatsby example page up. This is an okay start, but we need something better.

Unfortunately I don't have bandwidth to make the site myself. And I suck as a designer too.

Therefore I want to open this up as a request for help for webdev newbies who want to flex their skills. You c

[2019-11-22 11:10] olavea commented on #50
😸 👍

[2019-11-23 10:12] olavea commented on #50
About 4.

I have started sketching some designs by hand. I will upload them here as comments on this issue. 😺

[2019-11-23 12:40] olavea commented on #50
Here is [https://www.gatsbyjs.org/](https://www.gatsbyjs.org/) homepage minus:

- [ ] Plugins
- [ ]  Blog
- [ ] Features
- [ ] Dark Mode
- [ ] Newsletter sign up
- [ ] Trusted By

![useAuth-Gatsby_steal_minus-5](https://user-images.githubusercontent.com/7642493/69478684-645a2780-0df5-11ea-8bd6-c4a782e4b88e.png)

[2019-11-23 12:47] olavea commented on #50
Here is [https://rebassjs.org/](https://rebassjs.org/) homepage:

![rebass1](https://user-images.githubusercontent.com/7642493/69478882-be5bec80-0df7-11ea-9269-56966179b075.jpeg)

[2019-11-24 15:48] olavea commented on #50
Yo @Swizec here are two sketches as a start for a design.

I could just get started making what we call a "skateboard" with gatsby-starter-hello-world.

A front page inspired by that gatsby sketch with two "Get Started" buttons from material ui and another page for the documentation on how to use it.

And see if it "rolls in the right direction" or not.

[2019-11-25 12:41] olavea commented on #50
I deployed to Zeit Now. No stress bobledress 👍

[https://useauthdev2-2tpug1oos.now.sh](https://useauthdev2-2tpug1oos.now.sh)

No Pull Requests to look at yet, but they will come.

All the best 😺,

Ola

[2019-11-26 10:04] olavea commented on #50
These changes will go into a Pull Request some time:
[https://useauthdev2.batcatdad.now.sh](https://useauthdev2.batcatdad.now.sh)

All commits are on issue
[https://github.com/olavea/useAuth.dev_2/issues/6](https://github.com/olavea/useAuth.dev_2/issues/6)

[2019-11-28 12:11] olavea commented on #50
[https://www.docz.site/](https://www.docz.site/)

**Powered by Gatsby**
...Starting from v2, Docz is entirely built using GatsbyJS. It's optimised for a lightning fast development experience ...

**Based on MDX**
MDX is Markdown + JSX, it brings the world of components to Markdown. MDX makes it possible to import and use your components in Markdown-style files. Docz fully le

[2019-11-29 02:30] Swizec commented on #50
Woohoo awesome work @olavea !

I like the last link. How come it flashes a huge logo anytime I click something? That's pretty weird behavior.

You think we should just use docz? I've heard great things about that project.

[2019-11-29 15:28] olavea commented on #50
😸
Question 1
I like the last link.

Answer 1
You mean "... useAuth Swizec ..." which goes to https://material-ui.com/ 😺

Question 2
How come it flashes a huge logo anytime I click something?

Answer 2
No idea.

Question 3
That's pretty weird behavior.

Answer 3
Yes, and see Answer 4

Question 4
You think we should just use docz?

Answer 4
Yes. I am on it. And the "flasher" is gone.

Question 5
I'v

[2019-11-29 18:52] EvaldasBurlingis commented on #50
![screenshot](https://user-images.githubusercontent.com/32436432/69886312-456a0280-12d9-11ea-9cfa-c3f58db4ecea.png)
in progress...

[2019-12-13 13:48] olavea commented on #50
How you doing
@EvaldasBurlingis ?
Where are you in your process?
Will you deploy?
Have you deployed?

[2019-12-19 19:43] johndevor opened #52 "Auth0 setup / instructions - API or Application?"
Are there any instructions on setting up auth0.com? Specifically, I'm not sure if I need an application (or which type) or an API, or both.

[2019-12-19 21:05] johndevor commented on #52
Closing until I can clarify this some more...

[2019-12-19 21:05] #52 closed

[2020-01-12 15:22] olavea commented on #50
Yeah @Swizec
I'm back
😺 👍

https://docz-app-gatsby.batcatdad.now.sh

https://github.com/olavea/useAuth-docz-app-gatsby

[2020-01-14 04:46] benheb opened #55 "Secured routes?"
Is there any plan to add ability to secure a route? i.e. require logged in to access /account?

[2020-01-16 15:47] #55 closed

[2020-01-20 16:27] ngbrown opened #56 "Add oidc-client authorization provider"
I saw that you were open to other identity providers besides Auth0, so how about [oidc-client](https://github.com/IdentityModel/oidc-client-js)?

[2020-01-23 16:50] ngbrown commented on #56
I've created a version that supports [oidc-client](https://github.com/IdentityModel/oidc-client-js) and [Identity Server](https://github.com/IdentityServer/IdentityServer4) here: https://gist.github.com/ngbrown/0be839b1f56679e6d41bbe5f36538931

I started with a very similar API, except that the `isAuthenticated` is directly from the state and updated on expire instead of being a function.  With th

[2020-03-14 04:04] hunterbecton opened #59 "Gatsby Build Error: WebAuth is not a constructor"
Everything runs as expected on `gatsby develop`, but as soon as I try and run `gatsby build`I get a Webpack error:

[code]

The only suggestion I've found online is to try running `gatsby clean` and reinstalling node packages before trying again, but I haven't had any luck. Would anyone have an idea what might be causing this?

[2020-03-14 20:39] hunterbecton commented on #59
Figured it out... I had some old code in my `gatsby-node` file that was using Webpack’s null loader to effectively ignore `auth0-js` on build.

[2020-03-14 20:39] #59 closed

[2020-04-10 08:24] saimonmoore opened #65 "Reloading loses session in Chrome v80"
Hi,

After spending a long time debugging my app using `useAuth` I realised that this issue was happening in Chrome (and in incognito mode so it doesn't appear to be any plugins), but not FF (neither in private window mode).

So I tried the example app:

https://gatsby-useauth-example.now.sh/

It works and retains the session in FF v68.5.0esr and Safari v13.1 (14609.1.20.111.8) but session is lost

[2020-04-10 09:47] saimonmoore commented on #65
OK this is very strange, while I was generating HAR files of testing https://gatsby-useauth-example.now.sh for the different browsers (I couldn't with Safari for some reason the export button does nothing) I noticed:

- Chrome v80 is failing consistently (both in non & incognito mode)
- Safari v13.1 works both in non & incognito mode (though there's a very noticeable rerender after reload where yo

[2020-04-10 10:11] saimonmoore commented on #65
Opened a related ticket in auth0 community: https://community.auth0.com/t/failed-silent-auth-chrome-v80/40841

[2020-04-10 17:34] matthewlynch commented on #65
Hi @saimonmoore,

Are you using a social identity provider? If so, have you configured Auth0 to use the keys generated by the social identity provider?

I'm using google as my social identity provider and I'm using Chrome v81.0.4044.92 and do not experience the issue you've described.

[2020-04-23 20:56] chiptus opened #74 "trying to use useAuth with apollo client and nextjs"
thanks for this work!

I'm trying to integrate useAuth with ApolloClient and nextjs.
I started from the code provided in the nextjs example, and now I'm adding Apollo. The client needs the access token so I'm did something like this:
[code]
it works as long I'm staying in the app.
for some reason when I refresh the page (I disabled ublock), authResult becomes null and I can't send any request to t

[2020-04-23 20:58] chiptus commented on #74
oh, isAuthenticated is true, and I can see the logged in username, but authResult is undefined

[2020-04-25 06:53] github0013 opened #75 "audience param (auth0_audience_domain)"
https://auth0.com/docs/quickstart/backend/nodejs/01-authorization

As far as I understand, when creating a backend to you would take access_token from client, and you would need to verify the token.
One of the key elements to check is audience.

Auth0.com asks to create an API with an identifier (can be anything - doesn't even have to start with https://, right?)
https://auth0.com/docs/getting-sta

[2020-05-08 21:24] DrJacobHolden opened #76 "Session does not persist in Safari"
It's hard for me to actually debug _why_ this is happening but I've set everything up and refreshing works fine on Chrome but in Safari the session is not persisted.

It might be related to this? https://github.com/auth0/auth0.js/issues/756

[2020-05-09 04:19] DrJacobHolden commented on #76
The issue does not persist if I disable "Prevent Cross Site Tracking" in the browser settings.

[2020-05-09 20:11] samullman opened #77 "Losing user"
Very momentarily our User comes through

<img width="300" alt="Screen Shot 2020-05-09 at 1 08 31 PM" src="https://user-images.githubusercontent.com/10147333/81483917-6aeb2880-91f6-11ea-909a-738efbcd4198.png">

Followed by

<img width="300" alt="Screen Shot 2020-05-09 at 1 08 17 PM" src="https://user-images.githubusercontent.com/10147333/81483929-7f2f2580-91f6-11ea-8eea-93a45251657a.png">

Console

[2020-05-09 23:32] samullman commented on #77
Solved this by going to Auth0 settings and adding "account" to allowed origin

[2020-05-09 23:32] #77 closed

[2020-05-13 23:16] samullman opened #78 "Access to user_metadata"
This may be more of a question, but I am hoping to access the meta data of the user by overriding the auth0_params and wondering if this is how to get access to meta data through the useAuth config

[code]

[2020-05-19 13:59] walberty commented on #77
@samullman I'm having the same problem but haven't been able to solve it. Can you clarify what you changed in the Auth0 settings? I'm not sure I'm looking at the same origin settings page.

[2020-05-19 14:18] samullman commented on #77
@walberty

Under application settings I changed:
<img width="669" alt="Screen Shot 2020-05-19 at 7 17 43 AM" src="https://user-images.githubusercontent.com/10147333/82337654-e1c7b480-99a0-11ea-88e6-af42eccc358d.png">
<img width="657" alt="Screen Shot 2020-05-19 at 7 17 24 AM" src="https://user-images.githubusercontent.com/10147333/82337672-e5f3d200-99a0-11ea-9827-7d6a9d3c8551.png">

[2020-05-20 03:24] catrawalkar opened #80 "Does this support Firebase Auth?"
Hello, I think I heard you say this hook supports Firebase Authentication too in yesterday's stream. Can you point me towards a resource or documentation about using Firebase Auth with this?

If successful, I would love to send an example as a PR

[2020-05-21 20:32] catrawalkar commented on #80
Alright, I got answer to my question. Firebase Auth is not yet implemented.

[2020-05-21 20:32] #80 closed

[2020-05-29 11:23] mtt87 opened #81 "Use app_metadata for roles"
I think there is a security issue with this approach https://github.com/Swizec/useAuth#set-up-a-auth0-rule you are using `user_metadata` to store roles but a user could potentially change that.

Auth0 recommends to use `app_metadata` as the right place to store user roles as that's not supposed to be editable by a user.
https://auth0.com/docs/users/concepts/overview-user-metadata

[2020-05-29 15:48] IdentityDan commented on #81
In this instance, roles aren't being stored in the user_metadata object in Auth0, they are just using the user_metadata claim in the token which would be signed by the time it got to the user.

With that said, our guidance shows roles being added to the token in their own custom claim.
https://auth0.com/docs/authorization/concepts/sample-use-cases-rules#add-user-roles-to-tokens

[2020-05-29 15:52] mtt87 commented on #81
Thanks @IdentityDan , it was confusing to see the same key `user_metadata` but I understood your explanation in that case it's 🆗 👍

[2020-05-29 15:52] #81 closed

[2020-07-09 13:54] nyan-matt commented on #65
FWIW, this is happening to me as well (Chrome 83.0.4103.106) with Google social identity - in my own app, as well as on https://gatsby-useauth-example.now.sh

- Chrome logs out across hard page reloads (normal and incognito modes)
- Firefox persists login across hard page reloads (normal & private modes)

I have do have my own OAuth client ids configured in Auth0 portal, and I think I have everyth

[2020-07-23 07:14] flybayer commented on #74
@chiptus did you get this working? I'm having the same problem

[2020-07-27 10:43] chiptus commented on #74
no, I moved to `auth0/auth0-nextjs` library, although I'm not sure I like it  :D

[2020-07-27 10:49] flybayer commented on #74
I found out the issue for me was that we were still using the default social login dev credentials. email/password worked fine, but not social login until we added our own social login keys to auth0.

[2020-08-16 18:13] goutham1706-dev opened #91 "App logs out from google-oauth2 connection a second after the page refresh"
This is a little weird, my gatsby app for some reason logs out a few seconds after refresh. A normal username-password-authentication connection works fine. The following is the state a second after the refresh:

[code]

**auth0_callback**

[code]

[2020-09-08 11:15] r3tard3dd commented on #36
@Swizec any news ?

[2020-10-14 20:02] CR1AT0RS opened #102 "How supportive is this library of using it without auth0"
Hey,

I have custom auth via rails. Do you think this integration will work? This is not a bug but more of a enhancement questions. If this library can be used independently without auth0.

[2020-10-15 23:21] erichodges opened #103 "useAuth Docs v2 - Another Idea (Theme-UI)"
Hi Swizec,

I set up a new Gatsby site using Theme-ui for the docs. I think it's better than my earlier effort. I didn't set up the useAuth login as it seems that you are still working on refactoring and expanding login provider options. Happy to set it up later. :-)

https://use-auth-docs.vercel.app/

https://github.com/erichodges/useAuthDocs

[2020-10-23 01:04] benheb commented on #76
I'm seeing this too. Did you ever come across a fix outside of telling people do disable that??

[2020-10-26 19:17] ivana-brkic opened #106 "Why is refresh token null?"
Do I need to call Auth0 API to get refresh token or there is a way with your library to do this?

[2020-11-01 18:19] benheb commented on #91
@goutham1706-dev Have you found a solution for this? I think I might be running into the same thing?

[2020-11-03 21:14] jschroed91 commented on #106
Are you adding the `offline_access` scope to the configuration? When that scope is provided, the auth result should include a refresh_token.

https://auth0.com/docs/tokens/refresh-tokens/get-refresh-tokens

[2020-11-04 04:34] jschroed91 commented on #106
For more info here, you can use the `auth0_params` prop on the `AuthProvider` to configure the scope to include `offline_access`. The default value of scope is `"openid profile email"`

[code]

[2020-11-26 02:22] landsman commented on #80
I had same question.

[2020-12-04 17:17] Swizec commented on #103
My dude @erichodges I love this! Sorry it took me so long to reply; time flies 😅

I want to get the new site up in time for Reactathon on Monday. Do you mind if I fully steal what you've build?
With contribution of course :)

Think I'd copy your repo into the /examples directory and add the new useAuth integration. Or I can fork off your repo if you prefer.

[2020-12-04 19:58] erichodges commented on #103
Hi Swizec, no worries, I know you're busy. Yeah, since I didn't add the new code and get that working, it would be a lot faster for you to do it. Up to you how you want to set that up. It would be great to get a bit of promotion at Reactathon no matter how small. I'm looking for work :-). I can then also add it to my portfolio as a live project which would be awesome!

[2020-12-06 23:20] Swizec commented on #102
Good news! With v1.0.0 useAuth explicitly supports multiple authentication providers :)

I'm writing docs on how to create a wrapper for custom auth solutions like your Rails backend.

[2020-12-07 14:36] vacom opened #115 "Bug?: Project does not just run with the desired Auth Client, it is asking to install the other auth client"
In the project I am testing (NextJS) I am using Auth0 Auth Client but the project does not run because it is asking for the other Auth Client **netlify-identity-widget.**

When installing everything works again correctly but in this case, I don't need the Netlify package

"react-use-auth": "^1.0.0",

[code]

[2020-12-09 15:00] tdesantiscoveo opened #117 "Getting error - failing to compile, Module not found: Can't resolve 'auth0-js'"
Getting this error when I try and use version 1.0.0 or 1.0.1. I do not see this error in 0.9.0

./node_modules/react-use-auth/dist/index.module.js
Module not found: Can't resolve 'auth0-js' in 'C:\projects\useauth-create-react-app\node_modules\react-use-auth\dist'
Compiling...
Failed to compile.

[2020-12-09 15:03] #117 closed

[2020-12-09 15:03] tdesantiscoveo commented on #117
Just saw in the docs I need to add this manually, close case

[2020-12-09 15:04] tdesantiscoveo opened #118 "Non authenticated page flashes after login and callback page"
Hello, I am using this package and after loggin in with Auth0, my callback page flashes, and then before I see the authenticated content, the non-authenticated content flashes on the screen.

After seeing the callback, I would not expect to see the non-authenticated content flash on the screen.

Is there a way to prevent this?

[2020-12-09 16:58] Swizec commented on #115
Yes this is a bug, nice find! I'm working on a fix and having some trouble with code splitting.

Got any ideas?

[2020-12-09 17:00] Swizec commented on #118
That sounds like a bug. Can you make a video of exactly what you're seeing?

Also what browser is this? I've seen some browsers act funny around Auth0's 3rd party cookie approach

[2020-12-11 08:25] martinnormark opened #120 "NextJS build fails on Vercel"
I have a minimal NextJS app configured with `useAuth` and `Auth0` as provider.

The build fails when running on Vercel.

Not sure if I am doing things wrong, but the build completes successfully when running it locally using `next build`.

[code]

### Error
[code]

### Full build log
[code]

[2020-12-12 17:32] Swizec commented on #120
Related to this issue: https://github.com/Swizec/useAuth/pull/119

You can install `netlify-identity-widget` to resolve this for now.

[2020-12-12 19:23] babycourageous commented on #80
@landsman I was poking around this library with a similar question and looks like it's in v1 with docs on the way
See https://github.com/Swizec/useAuth/issues/102

[2020-12-13 09:18] pawel3ala commented on #106
@ivana-brkic hej, still in need? I have just figured that out ;)

[2020-12-14 07:32] #120 closed

[2020-12-14 20:41] PetrSnobelt opened #127 "Rather remove this console log :-)"
https://github.com/Swizec/useAuth/blob/a0a0e7b7967fabe35df4934c1012fa0b017f51b1/src/providers/NetlifyIdentity.ts#L35

[2020-12-15 17:20] Swizec commented on #127
Wanna contribute a PR? :)

[2020-12-15 17:20] Swizec commented on #115
@vacom this has been fixed. Install 2.0.0 and change your Auth0 import to `import { Auth0 } from 'react-use-auth/auth0'

[2020-12-15 17:20] #115 closed

[2020-12-15 17:21] Swizec commented on #103
Closing because this is now the new docs page :)

Further contributions super welcome. There's a couple small css issues here and there

[2020-12-15 17:21] #103 closed

[2020-12-15 17:23] Swizec commented on #80
@babycourageous @landsman with v2, just released, we now have the ability to add other providers. Any interest in writing a wrapper for Firebase?

[2020-12-15 17:24] Swizec commented on #102
@CR1AT0RS support for multiple providers is now fully baked in v2. There's documentation on how to add new providers: https://useauth.dev/docs/auth-providers

I started with Auth0 and NetlifyIdentity as proof of concept that the wrapper layer works. Contributions welcome :)

[2020-12-16 18:10] jasonLaster opened #129 "Next.js build cannot resolve 'react-use-auth/auth0'"
I went through these steps this morning and ran into a build issue.

1. `npx create-next-app`
2. `yarn add react-use-auth auth0-js`
3. update `pages/_app.js` from `https://useauth.dev/docs/auth0/`
4. `yarn build`
5. `yarn dev`

## Build Error

here's what i see when i run `yarn dev`

[code]

### node_modules files

Here are the files I see in `react-use-auth`

[code]

[2020-12-16 18:40] catrawalkar commented on #129
Facing Same Problem.

[2020-12-16 19:47] yjean commented on #129
Same module resolution issue from a `create-react-app` app.

[2020-12-16 20:30] jasonLaster commented on #129
I haven't done this yet, but it would probably be pretty easy to bisect the problem with a local copy of react-use-auth and `npm link`

[2020-12-17 14:41] babycourageous commented on #80
Hi @Swizec
Thanks for the info!
I'm not too familiar with Firebase - but if I get some time to devote to it I can give it a shot.

[2020-12-17 15:37] Swizec commented on #129
Okay lesson learned, don't test things in the `examples/` directory of a library :D

This line in `AuthProvider` is the problem:

[code]

If I change it to `./providers/auth0`, it gets confused about importing TS files.

Seems like the only way to fix it is breaking backwards compatibility. Anyone got a better idea?

[2020-12-17 15:44] yjean commented on #129
As it was introduced in a new major release, breaking backward compatibility makes sense for me.

Unfortunately, that's just my user point of view, I don't know how to help technically on this.

[2020-12-17 16:12] Swizec commented on #129
Just released v2.0.2 that fixes this. Thanks for reporting @jasonLaster

[2020-12-17 16:12] #129 closed

[2020-12-17 16:13] Swizec commented on #129
@all-contributors add @jasonlaster for bugs

[2020-12-18 16:48] catrawalkar opened #135 "SyntaxError: Unexpected token 'export'"
When I run next-js project with simple setup, I get this error.

[code]

My code:
__app.js
[code]

[2020-12-18 16:49] catrawalkar commented on #135
@jasonLaster can you confirm if you are facing this too?

[2020-12-19 00:12] Swizec commented on #135
Can you share your repo?
What version of Node are you on?

[2020-12-21 02:29] landsman commented on #80
@Swizec nice, thanks, for sure.

[2020-12-23 23:56] jasonLaster opened #138 "Publish sourcemaps"
It looks like sourcemaps are created, but not published, which makes it difficult to understand what the library is doing.

[2020-12-25 15:21] patrick91 commented on #138
Related to this, type definitions are not published too :)

[2020-12-25 20:34] jasonLaster commented on #135
node v12.16.3. Looks like it also repros with `v14.15.3`

[2020-12-26 00:59] jasonLaster opened #140 "useauth.dev is not logging in"
It looks like the example is not working because the authConfig is not provided.

Here is a [replay](https://replay.io/view?id=30c359ce-9a1d-4e77-83d5-a47f5add53fb) of my last session.

See the comment about the provider not being present and the `wrapPageElement` not being called in `src/index`...

I'm looking into why, but still new here :)

[2020-12-26 01:57] jasonLaster commented on #140
I was messing around a bit more with the next example and found something similar here

https://replay.io/view?id=98f4e1f4-99c9-4338-8e97-1f61fb75692a

it looks like SET_CONFIG is given an authProvider but the handler is missing it?

[2020-12-27 03:23] d-sanderson commented on #135
also experiencing the same error when upgrading from `pre-1.0.0` here is a link to a reproduction [repo](https://github.com/d-sanderson/useauth-create-next-app- ) running node `14.2.0`

[2020-12-28 16:55] benheb commented on #135
Same issue running node `v12.19.0`. Any updates here?

[2020-12-28 17:57] benheb commented on #135
This seems to be a workaround: `import { Auth0 } from 'react-use-auth/dist/auth0'`

[2020-12-30 00:00] #127 closed

[2020-12-30 00:14] Swizec commented on #135
Thanks to @jasonLaster for the fix ❤️

Just published v2.0.3, you should be good now @catrawalkar @d-sanderson @benheb. Closing for now

[2020-12-30 00:14] #135 closed

[2020-12-30 00:16] Swizec commented on #138
Strange, wonder what I misconfigured 🤔

[2020-12-30 12:08] patrick91 commented on #138
For typescript: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

Looks like we need:

[code]

since the package lives inside dist.

I think that should be enough :)

[2020-12-30 14:33] catrawalkar opened #143 "What is the correct way to setup a development repo in localhost?"
What is the correct way to setup development repo?

Here is what I did:

1. Created a Next JS project and made it run using react-use-auth library.
2. Cloned this git repo.
3. Yarn Link the repo & react-use-auth
4. Yarn dev

This gives me following error (screenshot is attached).

Please help with the correct way to contribute to the project.

![Screenshot from 2020-12-30 20-03-11](https://user-im

[2020-12-31 19:07] Swizec commented on #138
Ok published 2.0.4 which now publishes types.

Having trouble finding info on how to publish sourcemaps. Tried generating inline but it bloated filesize more than felt like a good idea.

[2021-01-05 13:37] ivana-brkic commented on #106
Sorry for answering this late. Didn't see notification... Well I am no longer working on that project so I really can't check this answer. As I can recall I have tried that long before I posted this question, but I had some annoying bugs with that scope definition. Could be it's something with auth0  settings, not related with library. You can close this issue, I hope someone will get help from it

[2021-01-20 02:20] io-raid commented on #55
@benheb did you happen to find a solution for this?

[2021-01-20 03:19] benheb commented on #55
I ended up creating a `withAuth` hook. Something like:

[code]

And then rendered whatever components I wanted to lock down with it, i.e. `export default withAuth(Account)`

[2021-01-31 18:15] Jared-Dev commented on #102
@Swizec mildly related, but where are the docs stored? I was going to pr an issue with them but so far they have eluded me.

[2021-01-31 20:28] Swizec commented on #102
@Jared-Dev this is the docs site https://github.com/Swizec/useAuth/tree/master/examples/useAuth.dev

Maybe shouldn't be hiding in the examples folder 🤔

[2021-01-31 20:29] Swizec commented on #80
@babycourageous @landsman I have a PR up with beta support for Firebase Auth. Since I'm not a Firebase user it's hard to make sure I got the DX right. Mind giving it a shot?

https://github.com/Swizec/useAuth/pull/148

[2021-01-31 22:24] babycourageous commented on #80
@Swizec That's super awesome of ya!
I'm also not a Firebase user unfortunately.

I'll try to find some time to familiarize myself with Firebase stuff and see if I can't take a peek at the DX sometime soon.

[2021-02-19 06:10] rwieruch opened #150 "simplified import paths"
Hey Swizec 👋🏽

regarding your workaround over here: https://github.com/Swizec/useAuth/blob/master/auth0.js I just ran into the same problem and looked a bit further for a potential solution. Did you try this one? https://davidwells.io/blog/publishing-flat-npm-packages-for-easier-import-paths-smaller-consumer-bundle-sizes Looks promising and would avoid you having the _auth0.js_ on a top-level. Jus

[2021-03-11 06:46] nikolay opened #158 "Is the project still active?"
I dare to ask as I'm trying to choose between NextAuth and useAuth for a new project.

[2021-04-17 13:29] ToguyC opened #163 "Auth0 redirect from rule not authenticating"
After using [this system](https://auth0.com/docs/rules/redirect-users), `handleAuthentication` does not result in logining the user in, and there is no error thrown

We can confirm that an `accessToken` has been returned to redirect url specified in the rule, and that the `idToken`, as well as the `accessToken`, are valid.

After `handleAuthentication`  the user still not logged in.

### Code of t

[2021-07-18 14:09] ToguyC commented on #163
Not useful anymore.

[2021-07-18 14:09] #163 closed, assigned to nobody

[2022-01-08 08:00] danielweck commented on #158
For Auth0, I would use their libs instead:
https://github.com/auth0/auth0-react
https://github.com/auth0/auth0-spa-js

[2022-02-17 06:10] abelchua commented on #78
You'll have to write a rule for that.

https://auth0.com/docs/manage-users/user-accounts/metadata/manage-metadata-rules

[2022-03-18 23:10] arronhunt commented on #135
I also ran into this issue with Netlify Identity. I used @benheb's solution to get it to work

[code]

[2022-09-02 19:38] Saraththoppil opened #282 "Bro please help me"
I am a react native student.. I need a help in axios.. In my project i not get print in android emulator.. I get response in terminal but it not show un emulator..

[2022-09-02 19:44] Saraththoppil opened #283 "Check this please"
https://github.com/Saraththoppil/project/blob/main/Home.js